
<!DOCTYPE html>
<html>


 <footer class="page-footer grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Idea Share</h5>
                <p class="grey-text text-lighten-4">Why waste your precious ideas? Share them or note them down only for yourself.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/ideas">Ideas</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
              &copy IdeaShare v1.0 by Saqib Islam
            <a class="grey-text text-lighten-4 right" href="#!">Github</a>
            </div>
          </div>
        </footer>

</html>