
<nav class="grey darken-4">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">IdeaShare</a>
      <a href="#" data-target="slide-out" class="button-collapse sidenav-trigger show-on-large"><i class="fa fa-bars"></i></a>
      <!-- RIGHT NAV -->
      <ul class="right hide-on-small-only">
        {{#if user}}
          <li><a href="/dashboard">Welcome {{user.firstName}}</a></li>
          <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
        {{else}}
          <li><a href="/ideas"><i class="fa fa-book"></i> Public Ideas</a></li>
        {{/if}}
      </ul>

    </div>
  </div>
</nav>

  <ul id="slide-out" class="sidenav">
    
    	{{#if user}}

    	{{else}}
    	<li>
			<a class = "btn red darken-1" href="/auth/google"> <i class = "fa fa-google left"></i> Login with Google </a>
		</li>	
    	{{/if}}
    	<li><a href="/ideas"><i class="fa fa-book"></i> Public Ideas</a></li>

    	<li><div class="divider"></div></li>

    	{{#if user}}
    	<li><a href="/dashboard"><i class="fa fa-cog"></i> DashBoard</a></li>

    	<li><a href="/ideas/my"><i class="fa fa-user"></i> My Ideas</a></li>

    	
    	<li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
    	{{else}}
    	{{/if}}
  </ul>