<!DOCTYPE html>
<h2>About</h2>

<h6 class="white-text"><b>Tour Guide v1.0</b> <br><br> An Online platform for Tour Plannin and Booking</h6>

<p class="white-text">Travel with ease, Plan a trip according to your desire, avail discounts and Book your trip using 
our online payment portal, all from the comfort of your home</p>