<!DOCTYPE html>
<h2>About</h2>

<h6><b>Idea Share v1.0</b> <br><br> Your personal Idea Space, which you can share or keep a secret.</h6>

<p>Make sure you never miss out on something big, that you might forget later</p>