<!DOCTYPE html>
<html>
<head>
	<title></title>

<script type="text/javascript">
	function submitForm() {
  	return confirm('Do you really want to delete the idea?');
}
</script>

</head>
<body>
	<br>
	<br>
	<h4 class="center-align">PLAN A TRIP</h4>
	<br>
	Selected Location: {{trip.loc}}
	<div class="container">
		<select class="slt-loc" name = "location" onchange="setLoc();">
			{{#selects trip.loc}}
			<option value="sylhet"> Sylhet </option>
			<option value="chittagong"> Chittagong </option>
			<option value="dhaka"> Dhaka </option>
			{{/selects}}
		</select>
	</div>
	<br>
	<div class="btn-wrapper">
		<a  href="/trips/accom" class="waves-effect blue btn-large btn-accom"> Accomodation </a>
		<a  href="/trips/transport" class="waves-effect blue btn-large btn-trip"> Transport </a>
	</div>


	<script type="text/javascript" src="/js/help.js"></script>
</body>
</html>