<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<body>
		<div class="jumbotron">
		<h1>Welcome</h1>
		<h5>Plan A Trip</h5>
		<br>
			{{#if user}}
			{{else}}
				<a class = "btn red darken-1" href="/auth/google"> <i class = "fa fa-google left"></i> Login with Google </a>
			{{/if}}
		</div>
	</body>
</html>