<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<div class="container">
		{{trip.loc}}
		{{trip.accom}}
		{{trip.transport}}

	
		<a href="/trips/transport/'newdasf'"> Change </a>

	</div>
	
</body>
</html>